{% for article in application %}
    <h2>{{ article.name }}</h2>
    <p>Created by {{ article.author }} ({{ article.category|default_if_none:'Без категории' }})
        at {{ article.created_at|date:'d.m.Y H:i:s' }}</p>
    <p>
        <a href="{% url 'application_one_view' article.pk %}" class="btn btn1">More...</a>
        <a href="{% url 'application_update_view' article.pk %}" class="btn btn2">Edit</a>
        <a href="{% url "application_delete" article.pk %}" class="btn btn3">Delete</a>
    </p>
    <hr/>
{% endfor %}