{% extends 'base.html' %}

{% block menu %}

{% endblock %}

{% block content %}
    <h1>{{ application.name }}</h1>
    <p>{{ application.description }}</p>
    <p>{{ application.phone }}</p>
    <p>{{ application.pregnancy }}</p>
    <p>{{ application.weeks_of_pregnancy }}</p>
    <p>{{ application.area }}</p>
    <p>{{ application.district }}</p>
    <p>{{ application.city_or_village }}</p>
    <p>{{ application.address }}</p>
    <p>{{ application.notes }}</p>
    <p>{{ application.status }}</p>
    <p>time of creation {{ application.created_at }}</p>
    <a href="{% url 'application_update_view' application.pk %}"  class="btn btn3">Изменить</a>
{% endblock %}
