{% extends 'base.html' %}
{% block menu %}

{% endblock %}

{% block content %}
   {% for one_application in application %}
                <div class="boss_div">
                    <p>{{ one_application.name }}       {{ one_application.phone }}</p>

                    <div class="for_button">
                        {% if request.user.is_authenticated %}
                            <a href="{% url 'application_one_view' one_application.pk %}"  class="btn btn3">more</a>

                        {% endif %}
                    </div>
                </div>
            {% endfor %}

{% endblock %}