{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}MySite{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    {% block styles %}{% endblock %}
</head>
<body>
<nav class="navbar">
   <div class="container">
       <ul class="menu">
             {% if request.user.is_authenticated %}
                <li class="nav-item"><a href="{% url 'accounts:detail' request.user.pk %}" class="nav-link">
                    Привет, {{ request.user.username }}!
                </a></li>
                <li class="nav-item"><a href="{% url 'accounts:logout' %}" class="nav-link">Выход</a></li>
                 <li><a href="{% url 'application' %}" class="action-btn nav-link">Заявки</a></li>
                 <li><a href="{% url 'news_add' %}" class="action-btn nav-link">crate news</a></li>
                 <li><a href="{% url 'application_search' %}" class="btn btn2">Search</a></li>
            {% else %}
                <li class="nav-item"><a href="{% url 'accounts:register' %}" class="nav-link">Регистрация</a></li>
                <li class="nav-item"><a href="{% url 'accounts:login' %}" class="nav-link">Вход</a></li>
            {% endif %}
           <li><a href="{% url 'index' %}" class="action-btn nav-link">Главная</a></li>

           <li><a href="{% url 'application_add' %}" class="action-btn nav-link">отправить заявку на помощь</a></li>

           {% block menu %}{% endblock %}
       </ul>
   </div>
</nav>
<div class="container">
    {% block content %}{% endblock %}
</div>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
{% block scripts %}{% endblock %}
</body>
</html>
